.resume-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 60vh;
    margin-right: 1vw;
}

::-webkit-scrollbar {
    width: 20px;
  }
  

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    animation: scrollbarflicker 0.003s infinite alternate;
    
  }

  @keyframes scrollbarflicker {
    from {
      box-shadow:
        0.5px 0 0 #ea36af,
        -0.5px 0 0 #75fa69,
        0 0 10px rgb(213, 247, 223);
    }
  
    to {
      box-shadow:
        1px 0.7px 2px #ea36af,
        -1px -0.7px 2px #75fa69,
        0 0 10px rgb(213, 247, 223);
    }
  }