@font-face {
  font-family: 'Sevastopol';
  src: url('./assets/fonts/Sevastopol-Interface.ttf') format('truetype');
}

@font-face {
  font-family: "HelveticaBold";
  src: url(../fonts/helvetica-bold.woff);
}


#root {
  font-family: 'Sevastopol', sans-serif;
  height: 100vh;
  width: 100vw;
  padding-left: 1em;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: #070707ee;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 30px;
}

h1 {
  font-family: 'Sevastopol', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 5rem;
  line-height: 1.1;
  margin: 0.1rem;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  animation: textflickerwhite 0.001s infinite alternate;
}

h2, h3, h4, h5, h6, p, span, a, li {
  animation: textflickerwhite 0.001s infinite alternate;
  margin: 0.1rem;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  background-color: #ddd;
  color:black
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #070707ee;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

li {
  list-style-type: none;
}

@keyframes textflickerwhite {
  from {
    text-shadow:
      0.5px 0 0 #ea36af,
      -0.5px 0 0 #75fa69,
      0 0 10px rgb(213, 247, 223);
  }

  to {
    text-shadow:
      1px 0.7px 2px #ea36af,
      -1px -0.7px 2px #75fa69,
      0 0 10px rgb(213, 247, 223);
  }
}
